# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Lahssen Khouader

[url "ssh://git@gitlab.nereides.weborama.com/"]
  insteadOf = https://gitlab.nereides.weborama.com/

[url "ssh://git@gitlab.com/"]
  insteadOf = https://gitlab.com/

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/


